extends layout/base.pug
block content
    h1 Productos
    ul 
        if prods.length > 0 || !prods
            each prod in prods 
                li
                    p Nombre: 
                    p=prod.name

                    p Precio: 
                    p=prod.price

                    img(src=prod.thumbnail)
        else 
            p No hay productos :c
