extends layout/base.pug
block content
    h1 Productos
    ul 
        each prod in prods 
            li
                p Nombre: 
                p=prod.name

                p Precio: 
                p=prod.price

                p "Ruta" de imagen:
                p=prod.thumbnail
