<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>
            <h2>Todos los productos</h2>

            <ul>
                <% if (prods && prods.length > 0) { %>

                    <% prods.forEach(function(prod) { %>

                        <li>
                            <p>Nombre: <%=prod.name %>
                            </p>
    
                            <p>Precio: <%=prod.price %>
                            </p>
    
                            <img src="https://cdn4.iconfinder.com/data/icons/hodgepodge-free/32/basket_empty_shop_buy-256.png" alt="">
                        </li>
    
    
                    <% }) %>

                <% } else { %>
                    
                    <li><p>No hay productos :c</p></li>
                <% } %>

            </ul>

    </body>

</html>