<ul>

    {{#each prods}}

    <li>
        <p>Nombre: {{this.name}}</p>
        <p>Precio: {{this.price}}</p>
        <p>"Ruta" de imagen: {{this.thumbnail}}</p>
    </li>

    {{/each}}

    <a href="/">Home</a>

</ul>